<!DOCTYPE html>
<html>
  <head>
    <title>work_memo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  
  <header>
  <h1>
      <a href="/">work_memo</a>
  </h1>
  <nav class="pc-nav">
    <ul>
    <li><%= link_to("参考URL","/link/index") %></li>
    <li><%= link_to("TOP","/keiko/top") %></li>
  </ul>
  </nav>
  </header>
  <body> 
    <%= yield %>
  </body>
</html>
